[program:opsifin-scheduler-horizon]
process_name=%(program_name)s
directory=/home/aditya_prasetyo/project/opsifin-crontab
command=/www/server/php/84/bin/php artisan horizon
user=www
numprocs=1
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
stopwaitsecs=2000
redirect_stderr=true
stdout_logfile=/home/aditya_prasetyo/project/opsifin-crontab/storage/logs/supervisor-horizon.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=5
