[program:opsifin-scheduler-worker]
process_name=%(program_name)s_%(process_num)02d
directory=/var/www/opsifin-scheduler
command=/usr/bin/php8.4 artisan queue:work database --queue=default --sleep=1 --tries=1 --timeout=1900 --max-time=3600
user=opsifin
numprocs=2
autostart=true
autorestart=true
startsecs=3
stopasgroup=true
killasgroup=true
stopwaitsecs=2000
redirect_stderr=true
stdout_logfile=/var/log/opsifin-scheduler/worker.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
